.Button {
    font-size: 0.8rem;
    align-self: center;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #1da039;
  }
  
  .Button:active {
    background-color: #1da039;
  }
  
  .Button:focus {
    background-color: #1da039;
  }

  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Green,
  .GreenOutline:hover,
  .Bright:hover {
    background-color: #1da039;
    color: #ffffff;
  }
  
  .GreenOutline,
  .Green:hover {
    /* border: 1px solid #2142b2; */
    background-color: #1c4e23;
    color: #1da039;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #1c4e23;
    color: #46ff2e;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: #46ff2e;
    color: #1c4e23;
  }
  
  .Bright {
    background-color: #46ff2e;
    color: #1da039;
  }
