
.Button {
  background-color: #1da039;
  color: #ffffff;
  border: none;
  font-size: 120%;
  align-self: center;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  background-color: #1c4e23;
  color: #1da039;
}

.Button:active,
.Button:focus {
  background-color: #1da039 !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
}

.ButtonCancel {
  background-color: #e60a0a;
  border: none;
}

.ButtonCancel:hover {
  background-color: #ad0d0d;
  color: #e60a0a;
}

.ButtonCancel:active,
.ButtonCancel:focus {
  background-color: #e60a0a !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
}


.Wide {
  padding: 10px 50px;
  width: 100%;
}

  
.Bright {
  background-color: #46ff2e;
  color: #1da039;
}
