.Form {
  border: none;
  border-bottom: 2px #f0e9e1 solid;
}

.Button {
  background-color: #1da039;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 10% !important;
  margin-right: 3px;
  margin-left: 3px;
}

.Button:hover {
  background-color: #1c4e23;
  color: #1da039;
}

.Button:active,
.Button:focus {
  background-color: #1da039 !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
}

.ButtonCancel {
  background-color: #e60a0a;
  border: none;
}

.ButtonCancel:hover {
  background-color: #ad0d0d;
  color: #e60a0a;
}

.ButtonCancel:active,
.ButtonCancel:focus {
  background-color: #e60a0a !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
}