.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 1%;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #1c4e23;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }

.PostPage {
  display:flex;
  justify-content: center;
}

.PostBar {
  background-color: #e2f0e1;
}